NEXT_PUBLIC_SUPABASE_URL=https://ytymxjpppugaexxevyij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0eW14anBwcHVnYWV4eGV2eWlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMjE4OTQsImV4cCI6MjA2NjY5Nzg5NH0.vu-dU8_MKpt-jDxwANw9WUq-uDzzHcu86t32AULOCFw